.RegisterComp{
    display: flex;
    background-color: #ffffff;
    min-height: 100vh;
}
.reg-illustration{
    width: 100%;
    flex: 65%;
    padding-left: 100px;
}
.reg-illustration img{
    max-height: 100vh;
}
.register-box, .reg-body{
    display: flex;
    flex-direction: column;
}
.register-box{
    flex: 35%;
    justify-content: center;
}
.reg-header{
    margin-bottom: 75px;
}
.reg-header h2{
    font-size: 2.4rem;
    font-weight: 750;
    margin-bottom: 8px;
}
.reg-header span{
    font-size: .9rem;
    color: rgb(158, 164, 164);
}
.reg-input, .reg-btn{
    width: 350px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: none;
    background-color: #E4F4F0;
    color: black;
    outline: none;
    transition: .3s;
}
.reg-input::placeholder{
    color: #9B9B9B;
}
.reg-input:focus{
    box-shadow: 0px 0px 2px 2px #b0f5ec ;
    border: 2px solid #5ff8e3;
}
.reg-btn{
    background-color: #00dfc0;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 75px;
    border-radius: 30px;
    transition: .25s;
}
.reg-btn:hover{
    background-color: #fff;
    color: #00dfc0;
    border: 2px solid #00dfc0;
}
.another-link{
    font-size: .9rem;
    color: #00DFC0;
    width: 350px;
    text-align: center;
    margin-top: 10px;
}
.another-link::after{
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #01ae97;
  left: 200px;
  top: 20%;
  position: relative;
  transition: .3s;
}
.another-link:hover::after{
    width: 260px;
    left: 46px;
}
@media only screen and (max-width: 600px) {
    .RegisterComp{
        flex-direction: column;
    }
    .reg-illustration img{
        width: 100vw;
    }
    .reg-illustration{
        padding-left: 0px;
    }
    .reg-header{
        margin-bottom: 50px;
        text-align: center;
    }
    .reg-header h2{
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .register-box{
        align-items: center;
    }
    .reg-input{
        width: 95%;
    }
    .reg-body{
        display: flex;
        align-items: center;

    }
    .reg-btn{
        margin-top: 50px;
    }
  }