.upload-post{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center ;
}
.upload-container{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px rgb(117, 117, 117) ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.upload-logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-logo h6{
    margin-top: 15px;
}
.upload-logo .upload-icon{
    color: rgba(128, 128, 128, 0.5);
    font-size: 5rem;
}
.upload-btn input{
    all: unset;
    width: 200px;
    height:60px;
    background-color: var(--mainColor);
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 550;
    color: black;
    font-size: 0px;
    
}
.upload-btn input::file-selector-button{
    all: unset;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
.cropper-container{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px rgb(117, 117, 117) ;
    padding: 10px;
}
.cropper{
    width: 100%;
}
.crop-box{
    min-height: 500px;
    max-height: 500px;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
}
.cropper-options-row{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cropper-options{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.crop-aspect{
    padding: 0px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: .7rem;
    font-weight: 500;
    color: var(--mainColorDark);
    border: 1.5px solid var(--mainColorDark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.crop-aspect-1{
    width: 30px;
    height: 30px;
}
.crop-aspect-2{
    width: 20px;
    height: 30px;
}
.crop-aspect-3{
    width: 40px;
    height: 30px;
}
.ar-selected{
    background-color: var(--mainColorDark);
    color: white;
}
.aspect-ratio-title{
    font-size: 1rem;
    font-weight: 500;
}
.post-input-row{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.post-input-row input{
    all: unset;
    width: 90%;
    height: 40px;
    resize: none;
    box-sizing: border-box;
    color: black;
    font-size: 1rem;
    border-bottom: 1px solid grey;
    padding-left: 5px;
    
}
.post-input-row input:focus{
    border-bottom: 2px solid var(--mainColor);
}
.post-input-row button, .cropper-options-row button{
    all: unset;
    color: white;
    width: 80px;
    height: 40px;
    font-size: 1rem;
    background-color: var(--mainColor);
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    
}
.post-input-row button:disabled{
    opacity: 50%;
}
.cropper-options-row button{
    width: 300px;
    background-color: var(--mainColorDark);
}
@media only screen and (max-width: 600px) {
    .upload-post{
        align-items: center;
    }
    .upload-container{
        margin-top: -100px;
        width: 95%;
    }
    .upload-btn input{
        all: unset;
        width: 160px;
        height:50px;
        background-color: var(--mainColor);
        color: white;
        border-radius: 10px;
        
    }
    .upload-btn input::file-selector-button{
        font-size: 1rem;
    }
    .cropper-container{
        max-width: 100%;
    }
    .crop-box{
        max-width: 100%;
        min-height: 300px;
        max-height: 300px;
    }
    .crop-aspect{
        margin-left: 8px;
        border-radius: 3px;
        font-size: .55rem;
    }
    .crop-aspect-1{
        width: 25px;
        height: 25px;
    }
    .crop-aspect-2{
        width: 18px;
        height: 25px;
    }
    .crop-aspect-3{
        width: 33px;
        height: 25px;
    }
    .aspect-ratio-title{
        font-size: .8rem;
    }
    .cropper-options-row button{
        width: 300px;
        font-size: .8rem;
        height: 30px;
    }
    .post-input-row input{
        font-size: .9rem;
    }
}