.profile-comp{
    background-color: white;
    margin-top: 0px;
    padding-top: 10px;
}
.profile{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile-wrapper{
    display: flex;
    width: 85%;
    overflow: hidden;
    justify-content: center;
    
}
.profile-section{
    display: flex;
    background-color: var(--lightblue);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    min-height: 90vh;
    max-height: 100vh;
    width: 100%;
    flex: 35%;
}
.profile-section div{
    display: flex;
}
.profile-image-div{
    width: 250px;
    height: 250px;
    border-radius: 120px;
    margin-bottom: 30px;
    overflow: hidden;
}
.profile-image img{
    width: 250px;
    height: 250px;
    border-radius: 120px;
    margin-bottom: 30px;
}
.profile-name{
    font-size: 1.5rem;
}
.profile-id{
    margin-bottom: 30px;
}
.profile-id h3{
    font-weight: 400;
    color: grey;
}
.profile-details{
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-around;
}
.profile-details .prof-det-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}
.profile-description{
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1.5rem;
}
.profile-description pre{
    width: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-btns button{
    height: 50px;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 13px;
    color: var(--mainColor);

}
.profile-btn{
    width: 220px;
}
.profile-btn-full{
    width: 500px;
}
.profile-btns button:last-child{
    background-color: var(--mainColor);
    color: #fff;
}

.profile-post-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 80vh;
    padding-left: 20px;
    flex: 65%;

}
.pf-post-header h3{
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 5px;

}
.pf-posts-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.pf-post{
    flex: 25%;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat ;
}
.no-posts{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 200px;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .profile-wrapper   {
        flex-direction: column;
        width: 100%;
    }
    .profile-comp{
        padding-top: 0px;
    }
    .profile-section{
        min-height: 10vh;
        max-height: 55vh;
        width: 100%;
        flex: 50%;
        overflow: scroll;    
        padding: 20px;
    }

    .profile-image img{
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
    }
    .profile-image-div{
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
    }
    .profile-name h2{
        font-size: 1.3rem;
    }
    .profile-id{
        margin-bottom: 0px;
        margin-top: -10px;
    }
    .profile-id h3{
        font-size: 1rem;
    }
    .profile-details{
        margin-bottom: 10px;
    }
    .profile-details .prof-det-item{
        font-size: .9rem;
    }
    .prof-det-item h3{
        font-size: 1.2rem;
    }
    .prof-det-item span{
        margin-top: -10px;
    }
    .profile-description{
        margin-bottom: 0px;
        width: 100%;
        font-size: 1.3rem;
    }
    .profile-description p{
        width: 88%;
    }
    .profile-btns button{
        height: 40px;
        margin: 5px;
        font-size: .8rem;
    }
    .profile-btn{
        width: 150px;
    }
    .profile-btn-full{
        width: 300px;
    }
    
    .profile-post-section{
        min-height: 50vh;
        padding-left: 0px;
        flex: 50%;
        margin-bottom: 200px;
    }
    .pf-post-header h3{
        margin-bottom: 0px;
        font-size: 0rem;
    }
    /* .pf-posts-list{
        justify-content: center;
    } */
    .pf-post{
        flex: 25%;
        min-width: 125px;
        max-width: 125px;
        min-height: 125px;
        max-height: 125px;
        margin: 1.1px;
        background-size: cover;
        background-repeat: no-repeat ;
    }
}