.news-feed, .posts{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.posts{
    height: 84vh;
    overflow-y: scroll;

}
.feed-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    width: 550px;
}
.feed-header-icon{
    position: relative;
    top: 3px;
    font-size: 1.3rem;
}
/* .post{
    background-color: white;
    width: 600px;
    margin-bottom: 10px;
}
.post-header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.post-header img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}
.post-body img{
    width: 100%;
}
.reaction-section{
    display: flex;
}
.reaction-section div{
    margin: 10px;
}
.total-likes, .post-description{
    padding: 0px 10px;
}
.post-description{
    margin-top: 10px;
}
.show-all-comments{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.show-all-comments button{
    width: 97%;
    height: 40px;
    background-color: var(--lightblue);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: var(--navIconsClicked);
}
 */
@media only screen and (max-width: 600px) {
    .feed-header{
        width: 100%;
    }
}