.post{
    background-color: white;
    width: 550px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: .3s;
}
.post:hover{
    box-shadow: 0px 0px 10px 2px rgb(218, 216, 216);
}
.post-header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.post-header img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}
.post-header span{
    font-size: .9rem;
    font-weight: 450;
}
.post-body{
    padding: 5px;
}
.post-body img{
    width: 100%;
}
.reaction-section{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 2px solid rgb(236, 232, 232);
    margin-bottom: 10px;
}
.reaction-section div{
    margin: 10px;
    width: 100%;
    border-right: 2px solid grey;
    justify-content: center;
    display: flex;
}
.reaction-section div:last-child{
    border-right: 0px solid grey;
}
.reaction-icons, .liked-icon{
    font-size: 1.25rem;
}
.liked-icon{
    color: red;
}
.total-likes, .post-description{
    padding: 0px 10px;
}
.post-description{
    margin-top: 10px;
}
.show-all-comments{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.show-all-comments button{
    width: 97%;
    height: 40px;
    background-color: var(--lightblue);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: var(--navIconsClicked);
}

@media only screen and (max-width: 600px) {
    .post{
        background-color: white;
        width: 100%;
        margin-bottom: 5px;
    }
    .post-description{
        font-size: .9rem;
    }
    .post-body{
        padding: 0px;
    }
    .total-likes{
        font-size: .9rem;
    }
}