.EditProfileComp {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit-pf-container{
    height: 90%;
    background-color: #fff;
    width: 500px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}
.pf-img-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pf-img-col img{
    height: 300px;
    width:300px;
    border-radius: 200px;
}

.pf-img-col input{
    display: none;
    
}
.pf-img-col input::file-selector-button{
    display: none;
}
.pf-img-col label{
    font-size: 1rem;
    color:  var(--mainColor);
    border: 1px solid var(--mainColor);
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}
.pf-form-col{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.pf-form-col input,.pf-form-col textarea{
    all: unset;
    width: 97%;
    height: 60px;
    margin-top:5px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid grey;
    padding-left: 10px;
    background-color: var(--lightblue);
}
.pf-form-col textarea{
    height: 150px;
    padding-top: 10px;
}
.pf-form-col input:focus, .pf-form-col textarea:focus{
    border-bottom:2px solid var(--mainColor);
}
.pf-form-col button{
    height: 50px;
    background-color: var(--mainColor);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}
.pf-form-col label{
    color: grey;
}
.edit-pf-cropper-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.edit-pf-cropper-box{
    width: 500px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.edit-pf-crop-box{
    width: 480px;
    border-radius: 5px;
    height: 480px;
}
.edit-pf-btn{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit-pf-btn button{
    width: 90px;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--mainColor);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: .2s;
}
.edit-pf-btn button:hover{
    background-color:var(--mainColor);
    border: 1px solid var(--mainColor);
    opacity: 80%;
    color: white;
}
.edit-pf-btn button:first-child{
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}
.edit-pf-btn button:first-child:hover{
    background-color: black;
    border: 1px solid black;

    color: white;
}
@media only screen and (max-width: 600px) {
    .edit-pf-container{
        width: 100%;
        height: 95%;
    }
    .pf-form-col input{
        height: 50px;
    }
    .pf-form-col textarea{
        height: 100px;
    }
    .pf-img-col img{
        height: 250px;
        width:250px;
    }
    .pf-img-col label{
        font-size: .8rem;
        padding: 3px;
    }
    .EditProfileComp {
        justify-content: flex-start;
      }
      .edit-pf-crop-box{
        width: 100%;
    }
    .edit-pf-cropper-box{
        width: 95%;
        padding: 5px;
    }
    .edit-pf-btn button{
        font-size: .9rem;
    }
    .pf-form-col button{
        font-size: .9rem;
    }
}