.Navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    height: 80px;
    position: fixed;
    left: 0px ;
    top: 0px;
    z-index: 100;

}
.nav-body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav-header h3{
    color:var(--navHeader) ;
    font-size: 1.7rem;
}
.nav-status-bar{
    background-color: var(--lightblue);
    display: flex;
    height: 65px;
    width: 500px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.nav-status-bar div{
    overflow: hidden;
}
.nav-icons{
    font-size:1.3rem;
    color: var(--navIcons);
}
.nav-icons:hover{
    animation: anime .5s;
    font-size: 1.4rem;
}
.nav-icons:active{
    color: var(--navIconsClicked);
}

.nav-profile #dropdown-basic{
    all: unset;
}

.nav-profile img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.nav-status-bar .nav-items{
    position: relative;
    left: 40px;
}
.nav-search-bar{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 229, 229, 0.557);
    border-radius: 25px;
    transition: .3s;
    padding-right: 5px;
}

.nav-search-input{
    display: flex;
    justify-content: center;
}
.nav-search-input input{
    height: 55px;
    width: 90%;
    background: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.nav-search-input input::placeholder{
    color: rgb(138, 126, 126);
}
.nav-search-icon{
    background-color: var(--navHeader);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-search-icon .nav-icons{
    color: white;
}
.nav-search-bar{
    overflow: hidden;
}
.search-icons{
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-around;
}
.search-icons .x-icon{
    font-size: 1.3rem;
}
#hover-danger:hover{
    background-color: red;
    color: white; 
    transition: .1s;
}
@keyframes anime {
    0%{
        transform: rotate(-8deg);
    }
    50%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}
@media only screen and (max-width: 600px) {
    .status-bar-back{
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: #fff;
        height: 65px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-status-bar{
        width: 97%;
        border-radius: 10PX;
        height: 55px;
    }
    .nav-items.search{
        display: none;
    }
    .nav-body{
        justify-content: space-between;
    }
    .container.nav-body{
        padding: 0px 20px;
    }
    .Navbar{
        height: 50px;
    }
    .nav-header h3{
        color:var(--navHeader) ;
        font-size: 1.2rem;
    }
    .nav-profile img{
        width: 35px;
        height: 35px;
    }
  

}